
<!--Card-->
<div class="panel-primary panel" style="margin:10px;width:400px;">
  <div class="panel-heading">
    <%= drill.name.titleize %>
  </div>
  
  <!--Card content-->
  <div class="panel-body" >
    <!--Title-->
    
    <!--Text-->
    <p class="card-text"><%= drill.notes.html_safe %></p>
    <div class="">
    <a href="/drills/<%=drill.id%>" data-toggle="modal" data-target="#drill_modal" class="btn btn-xs btn-primary" style="margin-left:15px;margin-bottom:15px;" data-remote="true">VIEW</a>
    <% if params[:action] == "index" %>
      <%= link_to 'Copy Drill', copy_drill_path(drill), class: "btn btn-xs btn-success", style:"margin-bottom:15px;" %>
    <% end %>
  </div>
  </div>
  <!--/.Card content-->
  
</div>
<!--/.Card-->
